<div class="card">
    {{#each this}}
  <div class="card-img-top">
    <img src="{{flags.svg}}" alt="{{name.official}}">
  </div>
  <div class="card-body">
    <h2 class="card-title">Name: {{name.official}}</h2>
    <p class="card-text">Capital: {{ capital }}</p>
    <p class="card-text"> Population: {{population}}</p>
    <ul class="list-group"></ul>
    {{#each languages}}
      <li class="list-group-item">{{language}}</li>
    {{/each}}
    </ul>
  </div>
     {{/each}}
</div>